<div class="floating-box">
    <form {{action 'processForm' on='submit'}}>
        <div class="input-group">
            <label for='username'>Username</label>
          {{input id='username' placeholder='username' value=username}}
        </div>

        <div class="input-group">
            <label for='password'>Password</label>
          {{input id='password' placeholder='password' type='password' value=password}}
        </div>

      {{#if register}}
          <div class="input-group">
              <lable for='repeat'>Repeat</lable>
            {{input id='repeat' placeholder='repeat password' type='password' value=passwordRepeat}}
          </div>
      {{/if}}

        <div class="input-group">
            <button type="submit">
              {{#if register}}
                  Register
              {{else}}
                  Login
              {{/if}}
            </button>
        </div>
        <div class="input-group">
            <button type="button" {{action 'toggleRegistration'}}>
              {{#if register}}
                  Cancel
              {{else}}
                  Register
              {{/if}}
            </button>
        </div>

      {{#if errorMessage}}
          <p>{{errorMessage}}</p>
      {{/if}}
    </form>
</div>