<div class="floating-box">
  <form {{action 'processForm' on='submit'}}>

    {{#if errorMessage}}
      <div class="input-group">
          <div class="message error">
            {{errorMessage}}
          </div>
      </div>
    {{/if}}
    {{#if successMessage}}
      <div class="input-group">
        <div class="message success">
          {{successMessage}}
        </div>
      </div>
    {{/if}}

    <div class="input-group {{if usernameError 'error'}}">
      <label for='username'>Username</label>
      {{input id='username' placeholder='Username' value=username}}
    </div>

    <div class="input-group {{if passwordError 'error'}}">
      <label for='password'>Password</label>
      {{input id='password' placeholder='Password' type='password' value=password}}
    </div>

    {{#if register}}
      <div class="input-group {{if passwordRepeatError 'error'}}">
        <label for='repeat'>Re-enter password</label>
        {{input id='repeat' placeholder='Re-enter password' type='password' value=passwordRepeat}}
      </div>

      <div class="input-group">
          <div class="message">
              This app is in private beta. Please contact Eric Lifka for a signup key to create an account.
          </div>
      </div>

      <div class="input-group {{if signupKeyError 'error'}}">
        <label for='signup-key'>Signup key</label>
        {{input id='signup-key' placeholder='Signup key' value=signupKey}}
      </div>
    {{/if}}

    <div class="input-group">
      <button type="submit" class="primary">
        {{#if register}}
          Register
        {{else}}
          Login
        {{/if}}
      </button>
    </div>
    <div class="input-group">
      <button type="button" class="secondary" {{action 'toggleRegistration'}}>
        {{#if register}}
          Cancel
        {{else}}
          Register
        {{/if}}
      </button>
    </div>
  </form>
</div>